<h1>Welcome to your List of Tweets!</h1>

    <% if is_logged_in?(session) %>
      <% Tweet.all.each do |tweet| %>
        <p> <%= tweet.content %> </p>
        <% end %>
      <a href="/logout">Log Out</a>
    <% end %>
