<h1>Create User</h1>

<form action='/signup' method='post'>
  <label>Username</label>
  <input type="text" id="username" name="user[name]">

  <br>

  <label>Email</label>
  <input type="text" id="email" name="user[email]">

  <br>

  <label>Password</label>
  <input type="text" id="password" name="user[password]">

  <br>
  <input type="submit" value= "signup">
</form>
