<h1>Log In User</h1>

<form action='/login' method='post'>
  <label>Username</label>
  <input type="text" id="username" name="user[name]">

  <br>

  <label>Password</label>
  <input type="text" id="password" name="user[password]">

  <br>
  <input type="submit" value= "login">
</form>
